
{% extends 'base.html.twig' %}

{% block title %}Formulaire de commande{% endblock %}

{% block body %}
<section class="container my-3 beige">
    <div class="row">
        <div class="col-lg-8 col-12 mx-auto">
            <h1>Formulaire de commande</h1>
            {{ form_start(commandeForm) }}
            {{ form_row(commandeForm.adresseLivraison) }}
            {{ form_row(commandeForm.adresseFacturation) }}
            {{ form_row(commandeForm.moyenPaiement) }}
            <div class="d-flex justify-content-around">
                {{ form_row(commandeForm.numeroCarte) }}
                {{ form_row(commandeForm.ccv) }}
            </div>
            {{ form_row(commandeForm.RGPDConsent) }}
            <a href="{{ path('add_commande')}}" class="btn btn-outline-light m-4">Valider la commande</a>
            {{ form_end(commandeForm) }}
        </div>
    </div>
<section>
{% endblock %}