{% extends 'base.html.twig' %}

{% block title %}Hello CategorieController!{% endblock %}

{% block body %}
<main class="border rounded-3">
  <div class="d-none d-lg-block parallax rounded-3 my-3">
    <h1 class="d-none">Catégorie</h1>
  </div>
    <div id="carouselExample" class="carousel slide rounded-5 my-3 p-0">
      <div class="carousel-inner rounded-3">
        <div class="carousel-item active">
          <div class="row justify-content-around">

            {% for categorie in categorie %}

                <div class="col-4 d-flex justify-content-center">
                    <div class="card shadow m-5 fs-4 rounded-5 col-7 col-md-9 col-xl-7 text-center  bg-beige">
                        <img src="{{ asset('/assets/img/categorie/' ~ categorie . image )}}" class="card-img-top img-fluid rounded-top-5" alt="{{ categorie . libelle }}">
                        <div class="card-body">
                            <a href="{{ categorie . id }}" class="btn card-title fs-5 p-0"><h3 class="m-0">{{ categorie . libelle }}</h3></a>
                        </div>
                    </div>
                </div>
            
            {% endfor %}

          </div>
        </div>
        <div class="carousel-item">
          <div class="row justify-content-around">
            {% for categorie in categorie %}

                <div class="col-4 d-flex justify-content-center">
                    <div class="card shadow m-5 fs-4 rounded-5 col-7 col-md-9 col-xl-7 text-center  bg-beige">
                        <img src="{{ asset('/assets/img/categorie/' ~ categorie . image )}}" class="card-img-top img-fluid rounded-top-5" alt="{{ categorie . libelle }}">
                        <div class="card-body">
                            <a href="{{ path('app_platscat', {'categorie_id': categorie.id}) }}" class="btn card-title fs-5 p-0"><h3 class="m-0">{{ categorie . libelle }}</h3></a>
                        </div>
                    </div>
                </div>
            
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    <div class="d-flex justify-content-around my-3">
      <button class="btn fleche rounded-4" type="button" data-bs-slide="prev" data-bs-target="#carouselExample" data-bs-slide="prev">
        <img class="img-fluid" src="../assets/img/the_district_brand/fleche_gauche.png" alt="Précedent">
        <span class="visually-hidden">Précedent</span>
      </button>
      <button class="btn fleche rounded-4" type="button" data-bs-slide="next" data-bs-target="#carouselExample" data-bs-slide="next">
        <img class="img-fluid" aria-hidden="true" src="../assets/img/the_district_brand/fleche_droite.png" alt="Suivant">
        <span class="visually-hidden">Suivant</span>
      </button>
    </div>
</main>
{% endblock %}
